{% if current_user.is_authenticated %}
{% if current_user.get_id() == "1" %}
{% extends 'mainpage_base.html' %}

{% block 图片展示 %} <!--这里在管理员界面用于编辑、添加、删除数据-->
<div style="padding: 20px;">
    <h3>欢迎您，管理员！</h3>
    <h5>请选择您要进行的操作：</h5>
    <ul class="button-group round">
        <li><button type="button" class="button" onclick="redirectToAnotherPage_1()">管理电影</button></li>
        <li><button type="button" class="button" onclick="redirectToAnotherPage_2()">管理演员</button></li>
    </ul>

    <script>
        function redirectToAnotherPage_1() 
        {
            window.location.href = '/admin_mv_page'; //这里写装饰器函数的URL
        }

        function redirectToAnotherPage_2() 
        {
            window.location.href = '/admin_act_page'; //这里写装饰器函数的URL
        }
    </script>
</div>
{% endblock 图片展示 %}


{% block 搜索结果 %} 
{% endblock 搜索结果 %}

{% else %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电影管理系统</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <style>
      /* 使用 CSS 样式规则 */
      .custom-image {
        width: 690px;
        height: 480px;
      }
    </style>
</head>
<div style="padding:20px">
    <h3>非法访问，请您立刻返回！</h3>
    <ul class="button-group round">
        <li><button type="button" class="button" onclick="redirectToMainPage()">返回</button></li>
    </ul>
</div>

<script>
    function redirectToMainPage() 
    {
        window.location.href = '/'; //这里写装饰器函数的URL
    }
</script>
{% endif %}
{% endif %}