{% if current_user.is_authenticated %}
{% if current_user.get_id() == "1" %}
{% extends 'mainpage_base.html' %}

{% block 图片展示 %} <!--这里在管理员界面用于编辑、添加、删除数据-->
<div style="padding: 20px;">
    <p>数据功能区</p>
    <ul class="button-group radius">
      <li><button type="button" class="button" data-reveal-id="add_info">添加</button></li>
      <li><button type="button" class="button">批量删除</button></li>
    </ul>

    <div id="add_info" class="reveal-modal" data-reveal>
        <div id="formContainer">
            <fieldset>
                <legend>电影信息</legend>
                <div class="form-group"> <!-- 初始化的表单 -->
                    <form class="mv_Form" method="post">
                        <div class="row" id="formItems1">
                            <br>
                            <div class="small-12 columns form-item">
                                <!-- 请输入电影ID
                                <input type="text" name = "mv_id"> -->
                                请输入电影名称
                                <input type="text" name = "mv_name" required>
                                请按“xx(月)-xx(日)-xxxx(年)”格式输入日期
                                <input type="text" name = "date" value = "01-01-2000" required>
                                请选择电影对应的国家
                                <select name = "mv_country">
                                    <option>暂无</option>
                                    <option>中国</option>
                                    <option>法国</option>
                                    <option>日本</option>
                                    <option>澳大利亚</option>
                                    <option>英国</option>
                                    <option>埃及</option>
                                    <option>加拿大</option>
                                    <option>韩国</option>
                                    <option>美国</option>
                                    <option>墨西哥</option>
                                    <option>巴西</option>
                                    <option>巴拿马</option>
                                    <option>波兰</option>
                                    <option>芬兰</option>
                                    <option>瑞典</option>
                                    <option>挪威</option>
                                    <option>菲律宾</option>
                                    <option>越南</option>
                                    <option>老挝</option>
                                    <option>印度</option>
                                    <option>巴基斯坦</option>
                                </select>
                                请选择电影的类型
                                <select name = "mv_type">
                                    <option>暂无</option>
                                    <option>动作</option>
                                    <option>爱情</option>
                                    <option>喜剧</option>
                                    <option>战争</option>
                                    <option>恐怖</option>
                                    <option>文艺</option>
                                    <option>科幻</option>
                                    <option>伦理</option>
                                    <option>冒险</option>
                                    <option>剧情</option>
                                    <option>惊悚</option>
                                    <option>家庭</option>
                                    <option>运动</option>
                                    <option>奇幻</option>
                                    <option>历史</option>
                                    <option>悬疑</option>
                                    <option>歌舞</option>
                                    <option>纪录</option>
                                    <option>犯罪</option>
                                    <option>西部</option>                      
                                </select>
                                请输入票房
                                <input type="text" name = "box" value = "0" required>
                                请输入网络评分
                                <input type="text" name = "online_rate" value = "0" required>
                                请输入获奖数量
                                <input type="text" name = "prize_num" value = "0" required>
                                请输入评论数量
                                <input type="text" name = "comments_num" value = "0" required>
                                请输入影片时长
                                <input type="text" name = "duration" value = "0" required>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        
            <fieldset>
                <legend>演员 1 (可点击“增加演员”按钮加入多位演员)</legend>
                <div class="form-group">
                    <form class="act_Form" method="post">
                        <div class="row" id="formItems2">
                            <div class="small-12 columns form-item">
                                <!-- 请输入演员ID
                                <input type="text" name = "act_id"> -->
                                请输入演员姓名
                                <input type="text" name = "act_name" required>
                                请选择演员性别
                                <select name = "gender">
                                    <option>暂无</option>
                                    <option>男</option>
                                    <option>女</option>
                                </select>
                                请输入演员国籍
                                <input type="text" name = "country" value = "中国" required>
                                请选择演员身份
                                <select name = "act_relation">
                                    <option>暂无</option>
                                    <option>主演</option>
                                    <option>导演</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
        
        <div class="row">
            <div class="small-12 columns">
                <button type="button" onclick="addForm()">增加演员</button>
                <button type="button" onclick="deleteForm()">删除演员</button>
            </div>
        </div>

        <button onclick="gatherAndSubmitFormData()">确认添加</button>

        <a class="close-reveal-modal">&times;</a>  <!--这是关闭窗口的按钮-->
    </div>
</div>


<script>
    var formCount = 1;

    function addForm() 
    {
        formCount++;
        var formContainer = document.getElementById('formContainer');

        var actFormGroup = document.createElement('div');
        actFormGroup.className = 'form-group';

        var actForm = document.createElement('form');
        actForm.className = 'act_Form';
        actForm.method = 'POST'

        var actFormItems = document.createElement('div');
        actFormItems.className = 'row';
        actFormItems.id = 'actor_Form_Con ' + formCount;

        var actItem = document.createElement('div');
        actItem.className = 'small-12 columns form-item';

        var actLegend = document.createElement('legend');
        actLegend.textContent = '演员 ' + formCount;

        var backspace = document.createElement('br'); //回车符

        var act_fieldset = document.createElement('fieldset'); //添加分隔框

        // var idLabel = document.createElement('label');
        // idLabel.setAttribute('for', 'act_id');
        // idLabel.textContent = '请输入演员ID '
        // var idInput = document.createElement('input');
        // idInput.setAttribute('type', 'text');
        // idInput.setAttribute('id', 'act_id');
        // idInput.setAttribute('name', 'act_id');
        // actItem.appendChild(idLabel);   //将标签和输入框添加到表单项元素中
        // actItem.appendChild(idInput);
        // actItem.appendChild(backspace);

        var nameLabel = document.createElement('label');
        nameLabel.setAttribute('for', 'act_name');
        nameLabel.textContent = '请输入演员姓名 ';
        var nameInput = document.createElement('input');
        nameInput.setAttribute('type', 'text');
        nameInput.setAttribute('id', 'act_name');
        nameInput.setAttribute('name', 'act_name');
        nameInput.required = true
        actItem.appendChild(nameLabel);   //将标签和输入框添加到表单项元素中
        actItem.appendChild(nameInput);
        actItem.appendChild(backspace);

        var gender = document.createElement('label');
        gender.setAttribute('for', 'gender');
        gender.textContent = '请选择演员性别 '
        var genderSelect = document.createElement('select');
        genderSelect.setAttribute('id', 'gender');
        genderSelect.setAttribute('name', 'gender');
        var gender1 = document.createElement('option');
        gender1.setAttribute('value', '暂无');
        gender1.textContent = '暂无';
        var gender2 = document.createElement('option');
        gender2.setAttribute('value', '男');
        gender2.textContent = '男';
        var gender3 = document.createElement('option');
        gender3.setAttribute('value', '女');
        gender3.textContent = '女';
        genderSelect.appendChild(gender1);
        genderSelect.appendChild(gender2);
        genderSelect.appendChild(gender3);
        actItem.appendChild(gender)
        actItem.appendChild(genderSelect);
        actItem.appendChild(backspace);

        var country = document.createElement('label');
        country.setAttribute('for', 'country');
        country.textContent = '请输入演员国籍 '
        var countryInput = document.createElement('input');
        countryInput.setAttribute('type', 'text');
        countryInput.setAttribute('id', 'country');
        countryInput.setAttribute('name', 'country');
        countryInput.setAttribute('value', '中国')
        countryInput.required = true
		actItem.appendChild(country);   //将标签和输入框添加到表单项元素中
        actItem.appendChild(countryInput);
        actItem.appendChild(backspace);

        var relation = document.createElement('label');
        relation.setAttribute('for', 'act_relation');
        relation.textContent = '请选择演员身份 '
        var relationSelect = document.createElement('select');
        relationSelect.setAttribute('id', 'act_relation');
        relationSelect.setAttribute('name', 'act_relation');
        var relation0 = document.createElement('option');
        relation0.setAttribute('value', '暂无');
        relation0.textContent = '暂无';
        var relation1 = document.createElement('option');
        relation1.setAttribute('value', '主演');
        relation1.textContent = '主演';
        var relation2 = document.createElement('option');
        relation2.setAttribute('value', '导演');
        relation2.textContent = '导演';
        relationSelect.appendChild(relation0);
        relationSelect.appendChild(relation1);
        relationSelect.appendChild(relation2);
        actItem.appendChild(relation)
        actItem.appendChild(relationSelect);
        actItem.appendChild(backspace);

        actFormItems.appendChild(actItem);  //将表单项添加到表单项容器中
        actForm.appendChild(actFormItems);  //将表单项容器添加到表单中
        act_fieldset.appendChild(actLegend);
        act_fieldset.appendChild(actForm);
        actFormGroup.appendChild(act_fieldset);
        formContainer.appendChild(actFormGroup);  //将新的表单组添加到表单容器中
    }

    function deleteForm() 
    {
        var formContainer = document.getElementById('formContainer');
        var formGroups = formContainer.getElementsByClassName('form-group');
        if (formGroups.length > 2) 
        {
            formGroups[formGroups.length - 1].remove();
        }
        if (formCount > 1)
        {
            formCount--;
        }
    }

    // function gatherAndSubmitFormData() 
    // {
    //     var formContainer = document.getElementById('formContainer');
    //     var forms = formContainer.querySelectorAll('form');

    //     var formData = {};

    //     forms.forEach((form, index) => {
    //     var formFields = {};
    //     form.querySelectorAll('input, select').forEach(input => {
    //         formFields[input.name] = input.value;
    //     });

    //     formData['form' + (index + 1)] = formFields;
    //     });

    //     fetch('/admin', {  //注意：这里的“/admin”要和后端装饰函数的URL相对应
    //         method: 'POST',
    //         headers: {
    //         'Content-Type': 'application/json',
    //         },
    //         body: JSON.stringify(formData),
    //     })
    //     .then(response => response.json())
    //     .then(data => {
    //         console.log(data);
    //     })
    //     .catch(error => {
    //         console.error('Error:', error);
    //     });
    // }

    function gatherAndSubmitFormData() 
    {
        var formContainer = document.getElementById('formContainer');
        var forms = formContainer.querySelectorAll('form');

        var formData = {};

        for (var i = 0; i < forms.length; i++) 
        {
            var form = forms[i];
            var formFields = {};

            var inputs = form.querySelectorAll('input, select');  // 检查表单中的输入元素是否为空
            for (var j = 0; j < inputs.length; j++) {
                var input = inputs[j];
                if (input.required && input.value.trim() === '') {
                    alert('请填写所有必填字段！');
                    return; // 如果有任何一个字段为空，停止执行下方的数据添加功能
                }
                formFields[input.name] = input.value;
            }

            formData['form' + (i + 1)] = formFields;
        }

        //如果所有字段都非空再提交
        fetch('/admin_add_mv', {  //这里写URL地址
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(formData),
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }

</script>
{% endblock 图片展示 %}


{% block 搜索结果 %} <!--跳过搜索，直接展示所有电影数据信息-->
<style>
    .image-limit 
    {
      max-width: 390px;
      max-height: 260px;
    }

    .accordion-navigation 
    {
      border-bottom: 1px solid #ccc; /* 添加底部边框，可以根据需要调整颜色和宽度 */
    }

    .row_container 
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>

<div style="padding:20px;">
    <ul class="accordion" data-accordion>
      {% for movie in rst_movies %}
        <li class="accordion-navigation">
            <a href="#demo_{{ loop.index }}">
                <div class="row_container">
                    <h5>{{ movie.mv_name }}</h5>
                    <ul class="button-group radius">
                        <button type="button" class="button round small" data-reveal-id="edit_{{ loop.index }}">编辑</button>
                        <button type="button" class="button round small" data-reveal-id="delete_{{ loop.index }}">删除</button>
                    </ul>
                </div>
            </a>
            <div id="demo_{{ loop.index }}" class="content">
                <div class="panel radius">
                    <p>电影编号: {{ movie.mv_id }}</p>
                    <p>电影发行日期: {{ movie.rls_date }}</p>
                    <p>电影发行国家: {{ movie.mv_country }}</p>
                    <p>电影类型: {{ movie.mv_type }}</p>
                    <p>电影票房: {{ movie.mv_box }}</p>
                    <p>网络评分: {{ movie.online_rate }}</p>
                    <p>评论数量: {{ movie.comments_num }}</p>
                    <p>影片时长: {{ movie.duration }}</p>
                    <p>主要参演人员:{% for key, value in rst_acts.items() %}
                        {% if key == movie.mv_id %}
                          {{ value }}
                        {% endif %}
                      {% endfor %}</p>
        
                    <div id="delete_{{ loop.index }}" class="reveal-modal medium" data-reveal>
                        <form class="mv_delete_Form" action="/admin_delete_mv" method="post">
                            <br>
                            <div data-alert class="alert-box warning">
                                <strong>请注意：</strong>您真的要删除此部电影吗？
                                <a href="#" class="close">&times;</a>
                            </div>
        
                            <label for="mv_id">要删除的电影ID：</label>
                            <input type="text" id="mv_id" name="mv_id" value="{{ movie.mv_id }}" readonly><br>
        
                            <label for="mv_name">要删除的电影名称：</label>
                            <input type="text" id="mv_name" name="mv_name" value="{{ movie.mv_name }}" readonly><br>
                            <input class="button" type = "submit" name = "delete" value="确认删除">
                            <a class="close-reveal-modal">&times;</a>  <!--这是关闭窗口的按钮-->
                        </form>
                    </div>
        
                    <div id="edit_{{ loop.index }}" class="reveal-modal large" data-reveal> <!--易错！这里一定要循环设置id用于辨别不同的模态框-->
                        <br>
                        <fieldset>
                            <div data-alert class="alert-box warning">
                                <strong>请注意：</strong>若要修改演员，请前往演员管理界面！
                                <a href="#" class="close">&times;</a>
                            </div>
        
                            <legend>请输入修改后的电影信息</legend>
                            <form class="mv_edit_Form" action="/admin_modify_mv" method="post">
                                <label for="mv_id">电影ID：(不可人为修改！)</label>
                                <input type="text" id="mv_id" name="mv_id" value="{{ movie.mv_id }}" readonly required><br>
        
                                <label for="mv_name">电影名称：</label>
                                <input type="text" id="mv_name" name="mv_name" value="{{ movie.mv_name }}" required><br>
        
                                <label for="mv_rls_date">电影发行日期：</label>
                                <input type="text" id="mv_rls_date" name="mv_rls_date" value="{{ movie.rls_date }}" required><br>
        
                                <label for="mv_country">电影发行国家：</label>
                                <input type="text" id="mv_country" name="mv_country" value="{{ movie.mv_country }}" required><br>
        
                                <label for="mv_type">电影类型：</label>
                                <input type="text" id="mv_type" name="mv_type" value="{{ movie.mv_type}}" required><br>
        
                                <label for="mv_box">电影票房：</label>
                                <input type="text" id="mv_box" name="mv_box" value="{{ movie.mv_box}}" required><br>
        
                                <label for="online_rate">网络评分：</label>
                                <input type="text" id="online_rate" name="online_rate" value="{{ movie.online_rate}}" required><br>
        
                                <label for="comments_num">评论数量：</label>
                                <input type="text" id="comments_num" name="comments_num" value="{{ movie.comments_num}}" required><br>
        
                                <label for="duration">影片时长：</label>
                                <input type="text" id="duration" name="duration" value="{{ movie.duration}}" required>
        
                                <input class="button" type = "submit" name = "modify" value="确认修改">
                            </form>
                        </fieldset>
                        <a class="close-reveal-modal">&times;</a>
                    </div>
                </div>
            </div>

            
        </li>
      {% endfor %}
    </ul>
</div>
{% endblock 搜索结果 %}

{% else %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电影管理系统</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/css/foundation.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

    <style>
      /* 使用 CSS 样式规则 */
      .custom-image {
        width: 690px;
        height: 480px;
      }
    </style>
</head>
<div style="padding:20px">
    <h3>非法访问，请您立刻返回！</h3>
    <ul class="button-group round">
        <li><button type="button" class="button" onclick="redirectToMainPage()">返回</button></li>
    </ul>
</div>

<script>
    function redirectToMainPage() 
    {
        window.location.href = '/'; //这里写装饰器函数的URL
    }
</script>
{% endif %}
{% endif %}