{% extends 'mainpage_base.html' %}

    {% block 图片展示 %}
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>
    
    <div style="padding:20px;">
      <ul class="large-block-grid-3">
        <li> <!--环形图-->
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <canvas id="doughnutChart" width="200" height="340"></canvas>
          <script>
              var ctx = document.getElementById('doughnutChart').getContext('2d');
              // 使用模板引擎获取后端传递的数据
              var doughnut_data = {
                  labels: {{ mv_doughnut_data.labels | tojson | safe }},
                  datasets: [{
                      label: {{ mv_doughnut_data.labels | tojson | safe }},
                      data: {{ mv_doughnut_data.data | tojson | safe }}
                  }]
              };
    
              var options = {
                responsive: true,
                maintainAspectRatio: false,
              };
    
              var doughnutChart = new Chart(ctx, {
                  type: 'doughnut',
                  data: doughnut_data,
                  options: options
              });
          </script>  
        </li>

        <li> <!--折线图-->
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <canvas id="lineChart" width="200" height="360"></canvas>
          <script>
              var ctx = document.getElementById('lineChart').getContext('2d');
              // 使用模板引擎获取后端传递的数据
              var line_data = {
                  labels: {{ mv_line_data.labels | tojson | safe }},
                  datasets: [{
                      label: '票房',
                      data: {{ mv_line_data.data | tojson | safe }},
                      borderColor: 'rgb(75, 192, 192)', // 设置线的颜色
                      pointStyle: 'circle',     //设置点类型为圆点
                      pointRadius: 6,    //设置圆点半径
                      pointHoverRadius: 10, //设置鼠标移动上去后圆点半径
                      tension: 0.1
                  }]
              };
    
              var options = {
                responsive: true,
                maintainAspectRatio: false,
              };
    
              var barChart = new Chart(ctx, {
                  type: 'line',
                  data: line_data,
                  options: options
              });
          </script>  
        </li>

        <li><!--雷达图-->
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <canvas id="radarChart" width="200" height="390"></canvas>
          <script>
              var ctx = document.getElementById('radarChart').getContext('2d');
              // 使用模板引擎获取后端传递的数据
              var radar_data = {
                labels: {{ mv_radar_data.labels | tojson | safe }},
                datasets: {{ mv_radar_data.datasets | tojson | safe }}
              };
    
              var options = {
                responsive: true,
                maintainAspectRatio: false,
              };
    
              var radarChart = new Chart(ctx, {
                  type: 'radar',
                  data: radar_data,
                  options: options
              });
          </script>
        </li>
      </ul>
    </div>   
    {% endblock 图片展示 %}

    {% block 搜索结果 %}
    <hr>
    <!--展示查询结果-->
    <div style="padding:20px;">
      {% for movie in rst_movies %}
      <div class="panel radius">
        <h2>{{ movie.mv_name }}</h2>
        <br>
        <p>电影编号: {{ movie.mv_id }}</p>
        <p>电影发行日期: {{ movie.rls_date }}</p>
        <p>电影发行国家: {{ movie.mv_country }}</p>
        <p>电影类型: {{ movie.mv_type }}</p>
        <p>电影票房: {{ movie.mv_box }}</p>
        <p>网络评分: {{ movie.online_rate }}</p>
        <p>参演人员: 
          {% for act in relate_act %}
            {{ act.act_name }}
          {% endfor %}
        </p>
      </div>
      {% endfor %}
    </div>
    {% endblock 搜索结果 %}

