{% extends 'mainpage_base.html' %}

    {% block 图片展示 %}{% endblock 图片展示 %}

    {% block 搜索结果 %}
    <!--搜索结果的图片滚动展示-->
    <div style="padding:20px">
      <h4>演员照片与简介</h4>
      <ul class="clearing-thumbs" data-clearing>
        <li><a href="rock600x400.jpg" class="th"><img data-caption="The Pulpit Rock" src="rock200x100.jpg" width="200" height="100"></a></li>
        <li><a href="skies600x400.jpg" class="th"><img data-caption="Sunrise Skies" src="skies200x100.jpg" width="200" height="100"></a></li>
        <li><a href="lights600x400.jpg" class="th"><img data-caption="Northern Lights" src="lights200x100.jpg" width="200" height="100"></a></li>
      </ul>
    </div>
    <!--搜索结果的图片滚动展示结束-->
    <hr>
    <!--展示查询结果-->
    <div style="padding:20px;">
      {% for actor in rst_actors %}
      <div class="panel radius">
        <p>演员编号: {{ actor.act_id }}</p>
        <p>演员名称: {{ actor.act_name }}</p>
      </div>
      {% endfor %}
    </div>
    {% endblock 搜索结果 %}

