{% extends 'mainpage_base.html' %}

    {% block 图片展示 %}{% endblock 图片展示 %}

    {% block 搜索结果 %}
    <head>
      <style>
          .image-limit 
          {
            max-width: 390px;
            max-height: 260px;
          }

          .accordion-navigation 
          {
            border-bottom: 1px solid #ccc; /* 添加底部边框，可以根据需要调整颜色和宽度 */
          }
      </style>
    </head>

    <!--搜索结果的图片滚动展示-->
    <div style="padding:20px">
      <h4>演员照片与简介</h4>
      <ul class="clearing-thumbs" data-clearing>
        <li><a href="rock600x400.jpg" class="th"><img data-caption="The Pulpit Rock" src="rock200x100.jpg" width="200" height="100"></a></li>
        <li><a href="skies600x400.jpg" class="th"><img data-caption="Sunrise Skies" src="skies200x100.jpg" width="200" height="100"></a></li>
        <li><a href="lights600x400.jpg" class="th"><img data-caption="Northern Lights" src="lights200x100.jpg" width="200" height="100"></a></li>
      </ul>
    </div>
    <!--搜索结果的图片滚动展示结束-->
    <hr>
    <!--展示查询结果-->
    <div style="padding:20px;">
      <ul class="accordion" data-accordion>
        {% for actor in rst_actors %}
          <li class="accordion-navigation">
            <a href="#demo_{{ loop.index }}">{{ actor.act_name }}</a>
            <div id="demo_{{ loop.index }}" class="content">
              <div class="panel radius">
                <p>演员编号: {{ actor.act_id }}</p>
                <p>演员性别: {{ actor.gender }}</p>
                <p>演员国籍: {{ actor.act_country }}</p>
                <p>主要参演电影: {% for key, value in rst_mvs.items() %}
                                  {% if key == actor.act_id %}
                                    {{ value }}
                                  {% endif %}
                                {% endfor %}</p>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endblock 搜索结果 %}

