{% extends 'mainpage_base.html' %}

    {% block 图片展示 %}
    <style>
      body {
          margin: 0;
          padding: 0;
      }

      .row {
          height: 100vh; /* 100% 视窗高度 */
      }

      .column {
          border: 1px solid #ddd; /* 可选：添加边框进行区分 */
      }
    </style>

    <div class="row">
      <div class="column small-4">
        <h4>电影数据分析面板</h4>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <canvas id="barChart" width="400" height="200"></canvas>
        <script>
            var ctx = document.getElementById('barChart').getContext('2d');
  
            // 使用模板引擎获取后端传递的数据
            var data = {
                labels: {{ mv_data.labels | tojson | safe }},
                datasets: [{
                    label: 'Bar Chart Example',
                    data: {{ mv_data.data | tojson | safe }},
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            };
  
            var options = {
                scales: {
                    x: { stacked: true },
                    y: { stacked: true }
                }
            };
  
            var barChart = new Chart(ctx, {
                type: 'bar',
                data: data,
                options: options
            });
        </script>
      </div>

      <div class="column small-4">
          <!-- 第二列的内容 -->
          <h2>Column 2</h2>
      </div>

      <div class="column small-4">
        <!-- 第二列的内容 -->
        <h2>Column 2</h2>
    </div>

    </div>
    
    {% endblock 图片展示 %}

    {% block 搜索结果 %}
    <hr>
    <!--展示查询结果-->
    <div style="padding:20px;">
      {% for movie in rst_movies %}
      <div class="panel radius">
        <p>电影编号: {{ movie.mv_id }}</p>
        <p>电影名称: {{ movie.mv_name }}</p>
        <p>电影发行日期: {{ movie.rls_date }}</p>
        <p>电影发行国家: {{ movie.mv_country }}</p>
        <p>电影类型: {{ movie.mv_type }}</p>
        <p>电影票房: {{ movie.mv_box }}</p>
        <p>参演人员: 
          {% for act in relate_act %}
            {{ act.act_name }}
          {% endfor %}
        </p>
      </div>
      {% endfor %}
    </div>
    {% endblock 搜索结果 %}

