{% extends 'mainpage_base.html' %}

{% block 图片展示 %}
<!--搜索得到的海报滚动展示-->
<div style="padding:20px">
    <h4>我们为您找到了以下影片：</h4>
    <ul class="clearing-thumbs" data-clearing>
        <li><a href="rock600x400.jpg" class="th"><img data-caption="The Pulpit Rock" src="rock200x100.jpg" width="200" height="100"></a></li>
        <li><a href="skies600x400.jpg" class="th"><img data-caption="Sunrise Skies" src="skies200x100.jpg" width="200" height="100"></a></li>
        <li><a href="lights600x400.jpg" class="th"><img data-caption="Northern Lights" src="lights200x100.jpg" width="200" height="100"></a></li>
    </ul>
    </div>
<!--搜索得到的海报滚动展示结束-->
{% endblock 图片展示 %}


{% block 登录者电影录入 %} <!--这里插入一个表单，进行详细的信息录入工作-->

{% endblock 登录者电影录入 %} 